# backend
backend/.gradle/
backend/build/
backend/out/
backend/src/main/resources/application-secret.properties


# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# etc
.DS_Store

# IDE
.idea/
*.iml
*.iws
